.wiki-content h1 {
  padding: .5em .75em;
  color: #494949;
  background-color: #E0E8F9;
  border-left: 6px solid #1D4A95;
  border-bottom: solid 3px #d7d7d7;
}
.wiki-content h2 {
  padding: .5em .5em;
  color: #494949;
  background: #FFF8CB;
  border-left: solid 5px #F3C759;
}
.wiki-content h3 {
  padding: .25em .5em;
  border-left: 5px solid #446FB7;
  border-bottom: 1px solid #ccc;
}
.wiki-content h4 {
  padding: .3em .6em;
  border-left: 3px solid #F3C759;
  border-bottom: 1px solid #ccc;
}
.wiki-content h5 {
  padding: .2em .5em;
  border-left: 4px solid #CCC;
}